#
# .gitignore
# =============================================================================
# NovaLogic F-16 Multirole Fighter Playable Demo Linux Wrapper. Version 0.2.0
# =============================================================================
# This is the configuration of the project Git ignorables,
# i.e. objects that should not be put into the repository.
#

# vim:set nu et ts=4 sw=4:
